@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    height: 80px;
    padding: 10px;
  }
  
  main {
    min-height: Calc(100vh - 168px);
  }
  
  footer {
    padding: 10px;
  }
  
  h1 {
    font-size: 2rem;
  }